

<p>
  <%= link_to "place new order", orders_path, method: "post"%>
</p>


<section class="Existing-orders">
  <h3>Existing Orders</h3>
  <% @current_user.orders.order(id: :desc).each do |order|%>
   <div class="Order-section">
    <p>
      Order id: <%= order.id %>
    </p>
    <p>
      Ordered at: <%= order.date %>
    </p>
    <p>
      Delivered at: <%= order.delivered_at %>
    </p>
    <h4>Order items:</h4>
    <% order.order_items.each do |item| %>
      <p> <%= item.menu_item_name %>   &nbsp &nbsp &nbsp &nbsp Rs: <%= item.menu_item_price %> </p>
    <% end %>
   </div>
  <% end %>
</section>
