<p>
  <%= link_to "Back to home", "/"%>
</p>

<% MenuItem.where(menu_id: 1).each do |item|%>
  <div class="Menuitem-section">
    <p> <%= item.name %> </p>
    <p class="Price"> Rs: <%= item.price %> </p>
    <p class="Add-item">
      <div class="Hide-form">
        <%= form_with(url: order_items_path,method: "post" ) do |form| %>
        <div class="Form-section">

          <%= form.text_field :menu_item_name, class: "Form-input", value: item.name, readonly: true %>
        </div>
        <div class="Form-section">

          <%= form.number_field :menu_item_id, class: "Form-input", value: item.id, readonly: true %>
        </div>
        <div class="Form-section">

          <%= form.number_field :menu_item_price, class: "Form-input", value: item.price, readonly: true %>
        </div>
        <div class="Form-section">
          <% if walkin_costumer.orders.find_by(status: "created") %>
            <% order_id= walkin_costumer.orders.find_by(status: "created").id %>
            <%= form.number_field :order_id, class: "Form-input", value: order_id, readonly: true %>
          <% end %>
        </div>
      </div>
        <div class="Form-section">
          <%= form.submit "Add item", class: "Additem-button"%>
        </div>
        <% end %>
    </p>
  </div>
<% end %>
<div class="Confirmorder-button">
  <% if walkin_costumer.orders.find_by(status: "created") %>
    <%= form_with(url: "/walkin_costumer/#{ walkin_costumer.orders.find_by(status: "created").id}", method: "put") do |form|%>
      <%= form.submit "Confirm order", class: "Confirm-button"%>
    <% end %>
  <% end %>
</div>
<section class="Existing-orders">
  <h3>Existing Orders</h3>
  <% walkin_costumer.orders.order(id: :desc).each do |order|%>
   <div class="Order-section">
    <p>
      Order id: <%= order.id %>
    </p>
    <p>
      Ordered at: <%= order.date %>
    </p>
    <p>
      Delivered at: <%= order.delivered_at %>
    </p>
    <h4>Order items:</h4>
    <% order.order_items.each do |item| %>
      <p> <%= item.menu_item_name %>   &nbsp &nbsp &nbsp &nbsp Rs: <%= item.menu_item_price %> </p>
    <% end %>
   </div>
  <% end %>
</section>
