<!DOCTYPE html>
<html>
  <head>
    <title>CafeManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section >
      <% if @current_user %>
      <p class="Page-header">
        Signed in as :
        <%= @current_user.name %>
        <%= link_to "Sign Out",signout_path, method: "delete"%>
      </p>
      <% end %>
    </section>
    <%= yield %>
  </body>
</html>
